In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("house_prices.csv")
df

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187526,187526,3 BHK Ready to Occupy Flat for sale in Bollywo...,This magnificent 3 BHK Flat is available for s...,63 Lac,3225.0,zirakpur,NaN,Ready to Move,2 out of 4,New Property,...,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft,NaN,NaN
187527,187527,3 BHK Ready to Occupy Flat for sale in Sushma ...,Have a look at this immaculate 3 BHK flat for ...,55 Lac,3274.0,zirakpur,NaN,Ready to Move,4 out of 6,Resale,...,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft,NaN,NaN
187528,187528,3 BHK Ready to Occupy Flat for sale in Bollywo...,"Gazipur, Zirakpur has an appealing 3 BHK flat ...",76 Lac,4343.0,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,...,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN,NaN,NaN
187529,187529,2 BHK Ready to Occupy Flat for sale in Friends...,Up for immediate sale is a 2 BHK apartment in ...,30 Lac,4231.0,zirakpur,NaN,Ready to Move,2 out of 2,Resale,...,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft,NaN,NaN
187530,187530,3 BHK Ready to Occupy Flat for sale in Affinit...,This exquisite 3 BHK Flat is offered for sale ...,1.18 Cr,6162.0,zirakpur,NaN,Ready to Move,5 out of 13,Resale,...,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft,NaN,NaN

In [3]:
df.shape

(187531, 21)

In [4]:
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

In [6]:
df.tail()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
187526,187526,3 BHK Ready to Occupy Flat for sale in Bollywo...,This magnificent 3 BHK Flat is available for s...,63 Lac,3225.0,zirakpur,NaN,Ready to Move,2 out of 4,New Property,...,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft,NaN,NaN
187527,187527,3 BHK Ready to Occupy Flat for sale in Sushma ...,Have a look at this immaculate 3 BHK flat for ...,55 Lac,3274.0,zirakpur,NaN,Ready to Move,4 out of 6,Resale,...,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft,NaN,NaN
187528,187528,3 BHK Ready to Occupy Flat for sale in Bollywo...,"Gazipur, Zirakpur has an appealing 3 BHK flat ...",76 Lac,4343.0,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,...,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN,NaN,NaN
187529,187529,2 BHK Ready to Occupy Flat for sale in Friends...,Up for immediate sale is a 2 BHK apartment in ...,30 Lac,4231.0,zirakpur,NaN,Ready to Move,2 out of 2,Resale,...,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft,NaN,NaN
187530,187530,3 BHK Ready to Occupy Flat for sale in Affinit...,This exquisite 3 BHK Flat is offered for sale ...,1.18 Cr,6162.0,zirakpur,NaN,Ready to Move,5 out of 13,Resale,...,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft,NaN,NaN

In [7]:
df.columns

Index(['Index', 'Title', 'Description', 'Amount(in rupees)',
       'Price (in rupees)', 'location', 'Carpet Area', 'Status', 'Floor',
       'Transaction', 'Furnishing', 'facing', 'overlooking', 'Society',
       'Bathroom', 'Balcony', 'Car Parking', 'Ownership', 'Super Area',
       'Dimensions', 'Plot Area'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

In [9]:
df.isnull().sum()

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

In [14]:
missing_per=(df.isnull().sum()/len(df))*100
miss_df=pd.DataFrame({
    'miss_col':df.isnull().sum(),
    'miss_per':missing_per
}).sort_values(by='miss_per',ascending=False)

In [15]:
miss_df

                   miss_col    miss_per
Plot Area            187531  100.000000
Dimensions           187531  100.000000
Society              109678   58.485264
Super Area           107685   57.422506
Car Parking          103357   55.114621
overlooking           81436   43.425354
Carpet Area           80673   43.018488
facing                70233   37.451408
Ownership             65517   34.936624
Balcony               48935   26.094352
Price (in rupees)     17665    9.419776
Floor                  7077    3.773776
Description            3023    1.612000
Furnishing             2897    1.544811
Bathroom                828    0.441527
Status                  615    0.327946
Transaction              83    0.044259
Amount(in rupees)         0    0.000000
Title                     0    0.000000
Index                     0    0.000000
location                  0    0.000000

In [17]:
high_missing_cols = miss_df[miss_df['miss_per'] > 70].index.tolist()

high_missing_cols

['Plot Area', 'Dimensions']

In [18]:
df = df.drop(columns=high_missing_cols)

In [19]:
df.isnull().sum()

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
dtype: int64

In [20]:
categorical_cols = df.select_dtypes(include='object').columns
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns

print("Categorical Columns:", categorical_cols)
print("Numerical Columns:", numerical_cols)

Categorical Columns: Index(['Title', 'Description', 'Amount(in rupees)', 'location', 'Carpet Area',
       'Status', 'Floor', 'Transaction', 'Furnishing', 'facing', 'overlooking',
       'Society', 'Bathroom', 'Balcony', 'Car Parking', 'Ownership',
       'Super Area'],
      dtype='object')
Numerical Columns: Index(['Index', 'Price (in rupees)'], dtype='object')

In [21]:
df['Price (in rupees)']

0          6000.0
1         13799.0
2         17500.0
3             NaN
4         18824.0
           ...
187526     3225.0
187527     3274.0
187528     4343.0
187529     4231.0
187530     6162.0
Name: Price (in rupees), Length: 187531, dtype: float64

In [23]:
df['Amount(in rupees)']

0          42 Lac
1          98 Lac
2         1.40 Cr
3          25 Lac
4         1.60 Cr
            ...
187526     63 Lac
187527     55 Lac
187528     76 Lac
187529     30 Lac
187530    1.18 Cr
Name: Amount(in rupees), Length: 187531, dtype: object

In [24]:
df['Carpet Area'].head(10)

0    500 sqft
1    473 sqft
2    779 sqft
3    530 sqft
4    635 sqft
5         NaN
6    550 sqft
7         NaN
8         NaN
9    900 sqft
Name: Carpet Area, dtype: object

In [25]:
df['Floor'].head(10)

0       10 out of 11
1        3 out of 22
2       10 out of 29
3         1 out of 3
4       20 out of 42
5         2 out of 7
6         4 out of 5
7    Ground out of 7
8    Ground out of 2
9        3 out of 27
Name: Floor, dtype: object

In [26]:
def convert_amount(value):
    if pd.isna(value):
        return np.nan
    
    value = value.strip()
    
    if 'Cr' in value:
        return float(value.replace('Cr', '').strip()) * 10000000
    elif 'Lac' in value:
        return float(value.replace('Lac', '').strip()) * 100000
    else:
        return np.nan

df['Amount(in rupees)'] = df['Amount(in rupees)'].apply(convert_amount)

In [27]:
df['Amount(in rupees)'].head()

0     4200000.0
1     9800000.0
2    14000000.0
3     2500000.0
4    16000000.0
Name: Amount(in rupees), dtype: float64

In [28]:
df['Carpet Area'] = (
    df['Carpet Area']
    .str.replace('sqft', '', regex=False)
    .str.strip()
)

df['Carpet Area'] = pd.to_numeric(df['Carpet Area'], errors='coerce')

In [29]:
df['Carpet Area'].head()

0    500.0
1    473.0
2    779.0
3    530.0
4    635.0
Name: Carpet Area, dtype: float64

In [31]:
def extract_floor(value):
    if pd.isna(value):
        return np.nan, np.nan
    
    value = value.lower().strip()

    # Handle basement floors
    if 'basement' in value:
        return -1, np.nan   # basement as -1

    # Handle ground floor
    if value.startswith('ground'):
        if 'out of' in value:
            total = value.split('out of')[1].strip()
            return 0, int(total)
        return 0, np.nan

    # Handle normal "X out of Y"
    if 'out of' in value:
        current, total = value.split('out of')
        if current.strip().isdigit() and total.strip().isdigit():
            return int(current.strip()), int(total.strip())

    # Anything else → unknown
    return np.nan, np.nan

In [32]:
df[['current_floor', 'total_floors']] = df['Floor'].apply(
    lambda x: pd.Series(extract_floor(x))
)

In [33]:
df.drop(columns=['Floor'], inplace=True)

In [34]:
df[['current_floor', 'total_floors']].sample(10)

        current_floor  total_floors
77112            16.0          26.0
91373             4.0           5.0
161020            4.0          30.0
51901            18.0          18.0
78890             3.0           5.0
134021            8.0          10.0
167702            5.0           7.0
127653            2.0           4.0
25136             2.0           4.0
177154            7.0          11.0

In [35]:
df.columns

Index(['Index', 'Title', 'Description', 'Amount(in rupees)',
       'Price (in rupees)', 'location', 'Carpet Area', 'Status', 'Transaction',
       'Furnishing', 'facing', 'overlooking', 'Society', 'Bathroom', 'Balcony',
       'Car Parking', 'Ownership', 'Super Area', 'current_floor',
       'total_floors'],
      dtype='object')

In [36]:
df.isnull().sum().sort_values(ascending=False)

Society              109678
Super Area           107685
Car Parking          103357
Carpet Area           87103
overlooking           81436
facing                70233
Ownership             65517
Balcony               48935
Price (in rupees)     17665
Amount(in rupees)      9684
total_floors           7487
current_floor          7121
Description            3023
Furnishing             2897
Bathroom                828
Status                  615
Transaction              83
Title                     0
Index                     0
location                  0
dtype: int64

In [37]:
df['Amount(in rupees)']

0          4200000.0
1          9800000.0
2         14000000.0
3          2500000.0
4         16000000.0
             ...
187526     6300000.0
187527     5500000.0
187528     7600000.0
187529     3000000.0
187530    11800000.0
Name: Amount(in rupees), Length: 187531, dtype: float64

In [38]:
TARGET = 'Amount(in rupees)'

X = df.drop(columns=[TARGET])
y = df[TARGET]

In [39]:
categorical_cols = X.select_dtypes(include='object').columns.tolist()
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns.tolist()

categorical_cols, numerical_cols

(['Title',
  'Description',
  'location',
  'Status',
  'Transaction',
  'Furnishing',
  'facing',
  'overlooking',
  'Society',
  'Bathroom',
  'Balcony',
  'Car Parking',
  'Ownership',
  'Super Area'],
 ['Index',
  'Price (in rupees)',
  'Carpet Area',
  'current_floor',
  'total_floors'])

In [40]:
drop_cols = ['Title', 'Description', 'Index']
X = X.drop(columns=drop_cols)

In [41]:
num_like_cols = ['Bathroom', 'Balcony', 'Car Parking', 'Super Area']

for col in num_like_cols:
    X[col] = pd.to_numeric(X[col], errors='coerce')

In [42]:
X.dtypes

Price (in rupees)    float64
location              object
Carpet Area          float64
Status                object
Transaction           object
Furnishing            object
facing                object
overlooking           object
Society               object
Bathroom             float64
Balcony              float64
Car Parking          float64
Ownership             object
Super Area           float64
current_floor        float64
total_floors         float64
dtype: object

In [43]:
categorical_cols = X.select_dtypes(include='object').columns.tolist()
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns.tolist()

categorical_cols, numerical_cols

(['location',
  'Status',
  'Transaction',
  'Furnishing',
  'facing',
  'overlooking',
  'Society',
  'Ownership'],
 ['Price (in rupees)',
  'Carpet Area',
  'Bathroom',
  'Balcony',
  'Car Parking',
  'Super Area',
  'current_floor',
  'total_floors'])

In [44]:
df['location']

0            thane
1            thane
2            thane
3            thane
4            thane
            ...
187526    zirakpur
187527    zirakpur
187528    zirakpur
187529    zirakpur
187530    zirakpur
Name: location, Length: 187531, dtype: object

In [45]:
top_locations = X['location'].value_counts().nlargest(20).index

In [46]:
top_locations

Index(['new-delhi', 'bangalore', 'kolkata', 'gurgaon', 'ahmedabad',
       'hyderabad', 'chennai', 'jaipur', 'greater-noida', 'faridabad',
       'vadodara', 'surat', 'pune', 'thane', 'mumbai', 'visakhapatnam',
       'mohali', 'zirakpur', 'chandigarh', 'noida'],
      dtype='object', name='location')

In [47]:
X['location'] = X['location'].where(
    X['location'].isin(top_locations),
    other='Other'
)

In [48]:
X = pd.get_dummies(
    X,
    columns=categorical_cols,
    drop_first=True
)

In [49]:
### Train Test Split

In [50]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [51]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train[numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
X_test[numerical_cols] = scaler.transform(X_test[numerical_cols])

C:\Users\Kishore\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\extmath.py:1101: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\Kishore\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\extmath.py:1106: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\Users\Kishore\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\extmath.py:1126: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [53]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [ ]:
y_pred = lr.predict(X_test)

In [55]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [57]:
y.isnull().sum()

np.int64(9684)

In [58]:
mask = y.notna()

X = X[mask]
y = y[mask]

In [59]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)

In [61]:
pd.get_dummies(X)

,Price (in rupees),Carpet Area,Bathroom,Balcony,Car Parking,Super Area,current_floor,total_floors,location_ahmedabad,location_bangalore,...,Society_varsha meadows,Society_vijaya heritage,Society_vishwaketu 2,Society_visionnaire,Society_yamuna apartment,Society_yash tower,Society_yogi complex,Ownership_Freehold,Ownership_Leasehold,Ownership_Power Of Attorney
0,6000.0,500.0,1.0,2.0,NaN,NaN,10.0,11.0,False,False,...,False,False,False,False,False,False,False,False,False,False
1,13799.0,473.0,2.0,NaN,NaN,NaN,3.0,22.0,False,False,...,False,False,False,False,False,False,False,True,False,False
2,17500.0,779.0,2.0,NaN,NaN,NaN,10.0,29.0,False,False,...,False,False,False,False,False,False,False,True,False,False
3,NaN,530.0,1.0,1.0,NaN,NaN,1.0,3.0,False,False,...,False,False,False,False,False,False,False,False,False,False
4,18824.0,635.0,2.0,NaN,NaN,NaN,20.0,42.0,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187526,3225.0,NaN,3.0,3.0,NaN,NaN,2.0,4.0,False,False,...,False,False,False,False,False,False,False,True,False,False
187527,3274.0,NaN,3.0,NaN,NaN,NaN,4.0,6.0,False,False,...,False,False,False,False,False,False,False,False,False,False
187528,4343.0,1250.0,3.0,2.0,NaN,NaN,1.0,3.0,False,False,...,False,False,False,False,False,False,False,True,False,False
187529,4231.0,NaN,2.0,NaN,NaN,NaN,2.0,2.0,False,False,...,False,False,False,False,False,False,False,False,False,False
187530,6162.0,NaN,4.0,4.0,NaN,NaN,5.0,13.0,False,False,...,False,False,False,False,False,False,False,True,False,False

In [62]:
df.columns

Index(['Index', 'Title', 'Description', 'Amount(in rupees)',
       'Price (in rupees)', 'location', 'Carpet Area', 'Status', 'Transaction',
       'Furnishing', 'facing', 'overlooking', 'Society', 'Bathroom', 'Balcony',
       'Car Parking', 'Ownership', 'Super Area', 'current_floor',
       'total_floors'],
      dtype='object')

In [64]:
cols_to_drop = (
    [c for c in X.columns if c.startswith('Society_')] +
    [c for c in X.columns if c.startswith('facing_')] +
    [c for c in X.columns if c.startswith('overlooking_')]
)

len(cols_to_drop)

10400

In [68]:
X = X.drop(columns=cols_to_drop, errors='ignore')

In [70]:
# Recreate X cleanly from original df
X = df.drop(columns=[TARGET])
y = df[TARGET]

# Drop high-cardinality columns EARLY
X = X.drop(columns=['Society', 'facing', 'overlooking'], errors='ignore')

# Reduce location cardinality
top_locations = X['location'].value_counts().nlargest(30).index
X['location'] = X['location'].where(X['location'].isin(top_locations), 'Other')

# Encode
X = pd.get_dummies(
    X,
    columns=['location', 'Status', 'Transaction', 'Furnishing', 'Ownership'],
    drop_first=True
)

In [71]:
y.isnull().sum()

np.int64(9684)

In [72]:
mask = y.notna()
X = X[mask]
y = y[mask]

In [73]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)

In [75]:
X_train.dtypes[X_train.dtypes == 'object']

Title          object
Description    object
Bathroom       object
Balcony        object
Car Parking    object
Super Area     object
dtype: object

In [76]:
text_cols = X_train.select_dtypes(include='object').columns
text_cols

Index(['Title', 'Description', 'Bathroom', 'Balcony', 'Car Parking',
       'Super Area'],
      dtype='object')

In [77]:
X_train = X_train.drop(columns=text_cols)
X_test = X_test.drop(columns=text_cols)

In [78]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [79]:
# Separate features & target
X = df.drop(columns=[TARGET])
y = df[TARGET]

# Drop rows where target is missing
mask = y.notna()
X = X[mask]
y = y[mask]

In [80]:
# Keep only numeric columns
X = X.select_dtypes(include=['int64', 'float64'])

In [81]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)

In [82]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [84]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')

X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

In [85]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train_imputed)
X_test_scaled = scaler.transform(X_test_imputed)

In [86]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train_scaled, y_train)

LinearRegression()

In [88]:
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred_lr)
rmse_lr = np.sqrt(mse)

r2_lr = r2_score(y_test, y_pred_lr)

rmse_lr, r2_lr

(np.float64(51835969.435307436), 0.5398498762804005)

In [89]:
# Separate features and target
X = df.drop(columns=[TARGET])
y = df[TARGET]

# Drop rows where target is NaN
mask = y.notna()
X = X[mask]
y = y[mask]

# Keep only numeric columns (AVOID memory issues)
X = X.select_dtypes(include=['int64', 'float64'])

In [90]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)

In [91]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')

X_train_imp = imputer.fit_transform(X_train)
X_test_imp = imputer.transform(X_test)

In [92]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(
    n_estimators=100,
    max_depth=15,
    min_samples_split=5,
    min_samples_leaf=2,
    random_state=42,
    n_jobs=-1
)

rf.fit(X_train_imp, y_train)

RandomForestRegressor(max_depth=15, min_samples_leaf=2, min_samples_split=5,
                      n_jobs=-1, random_state=42)

In [93]:
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score

y_pred_rf = rf.predict(X_test_imp)

rmse_rf = np.sqrt(mean_squared_error(y_test, y_pred_rf))
r2_rf = r2_score(y_test, y_pred_rf)

rmse_rf, r2_rf

(np.float64(62852170.76067094), 0.3234846479657131)